In [31]:
import pandas as pd
import numpy as np

In [32]:
dataset = pd.read_csv(r'/Users/sehan/Documents/Data_Collection-26-08/combined3.csv')

/Users/sehan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
display(dataset)

,Unnamed: 0,Flgs,Seq,Dur,RunTime,Mean,Sum,Min,Max,Proto,...,sVid,dVid,SrcTCPBase,DstTCPBase,TcpRtt,SynAck,AckDat,Label,Attack Type,Attack Tool
0,0,e,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1,1,e,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
2,2,e,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
3,3,e,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
4,4,e,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,487569,*,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,sctp,...,610.0,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1215886,487570,*,3,0.235607,0.235607,0.235607,0.235607,0.235607,0.235607,sctp,...,NaN,610.0,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1215887,487571,e,764,0.099927,0.099927,0.099927,0.099927,0.099927,0.099927,tcp,...,NaN,NaN,2.237373e+09,1.983280e+09,0.0,0.0,0.0,Benign,Benign,Benign
1215888,487572,*,3,1.307852,1.307852,1.307852,1.307852,1.307852,1.307852,sctp,...,NaN,610.0,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1215889,487573,*,1,0.476803,0.476803,0.476803,0.476803,0.476803,0.476803,sctp,...,610.0,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign

In [34]:
dataset = dataset.iloc[: , 1:]
dataset = dataset.drop('dDSb',axis=1)

In [35]:
display(dataset)

,Flgs,Seq,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,...,sVid,dVid,SrcTCPBase,DstTCPBase,TcpRtt,SynAck,AckDat,Label,Attack Type,Attack Tool
0,e,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1,e,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
2,e,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
3,e,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
4,e,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,*,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,sctp,186.0,...,610.0,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1215886,*,3,0.235607,0.235607,0.235607,0.235607,0.235607,0.235607,sctp,186.0,...,NaN,610.0,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1215887,e,764,0.099927,0.099927,0.099927,0.099927,0.099927,0.099927,tcp,0.0,...,NaN,NaN,2.237373e+09,1.983280e+09,0.0,0.0,0.0,Benign,Benign,Benign
1215888,*,3,1.307852,1.307852,1.307852,1.307852,1.307852,1.307852,sctp,186.0,...,NaN,610.0,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1215889,*,1,0.476803,0.476803,0.476803,0.476803,0.476803,0.476803,sctp,186.0,...,610.0,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign

In [36]:
dataset.dtypes

Flgs            object
Seq              int64
Dur            float64
RunTime        float64
Mean           float64
Sum            float64
Min            float64
Max            float64
Proto           object
sTos           float64
dTos           float64
sDSb            object
sTtl           float64
dTtl           float64
sHops          float64
dHops          float64
Cause           object
TotPkts          int64
SrcPkts          int64
DstPkts          int64
TotBytes         int64
SrcBytes         int64
DstBytes         int64
Offset           int64
sMeanPktSz     float64
dMeanPktSz     float64
Load           float64
SrcLoad        float64
DstLoad        float64
Loss             int64
SrcLoss          int64
DstLoss          int64
pLoss          float64
SrcGap         float64
DstGap         float64
Rate           float64
SrcRate        float64
DstRate        float64
State           object
SrcWin         float64
DstWin         float64
sVid           float64
dVid           float64
SrcTCPBase     float64
DstTCPBase     float64
TcpRtt         float64
SynAck         float64
AckDat         float64
Label           object
Attack Type     object
Attack Tool     object
dtype: object

In [37]:
dataset["Flgs"].unique()

array([' e        ', ' e s      ', ' *        ', ' e d      ',
       ' e r      ', ' *    f   ', ' e i      ', ' eU       ',
       ' e    f   ', ' e &      ', ' e g      ', 'e        ',
       ' *    V   ', ' e *      '], dtype=object)

In [38]:
dataset["Proto"].unique()

array(['icmp', 'udp', 'tcp', 'sctp', 'arp', 'llc', 'lldp', 'ipv6-icmp'],
      dtype=object)

In [39]:
dataset["sDSb"].unique()

array(['cs0', 'af41', 'ef', 'af11', 'cs7', '4', nan, 'cs6', '39', '52',
       '54', 'cs4', 'af12'], dtype=object)

In [40]:
dataset["Cause"].unique()

array(['Start', 'Status', 'Shutdown'], dtype=object)

In [41]:
dataset["State"].unique()

array(['ECO', 'CON', 'REQ', 'TST', 'RST', 'INT', 'FIN', 'URP', 'RSP',
       'NRS', 'ACC'], dtype=object)

In [42]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
print(ohe)

OneHotEncoder()

In [43]:
ohe.fit_transform(dataset[["Flgs", "Proto", "State", "Cause", "sDSb"]]).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.]])

In [44]:
feature_array = ohe.fit_transform(dataset[["Flgs", "Proto", "State", "Cause", "sDSb"]]).toarray()

In [45]:
ohe.categories_

[array([' *        ', ' *    V   ', ' *    f   ', ' e        ',
        ' e    f   ', ' e &      ', ' e *      ', ' e d      ',
        ' e g      ', ' e i      ', ' e r      ', ' e s      ',
        ' eU       ', 'e        '], dtype=object),
 array(['arp', 'icmp', 'ipv6-icmp', 'llc', 'lldp', 'sctp', 'tcp', 'udp'],
       dtype=object),
 array(['ACC', 'CON', 'ECO', 'FIN', 'INT', 'NRS', 'REQ', 'RSP', 'RST',
        'TST', 'URP'], dtype=object),
 array(['Shutdown', 'Start', 'Status'], dtype=object),
 array(['39', '4', '52', '54', 'af11', 'af12', 'af41', 'cs0', 'cs4', 'cs6',
        'cs7', 'ef', nan], dtype=object)]

In [46]:
feature_labels = ohe.categories_

In [47]:
np.concatenate(feature_labels).ravel()

array([' *        ', ' *    V   ', ' *    f   ', ' e        ',
       ' e    f   ', ' e &      ', ' e *      ', ' e d      ',
       ' e g      ', ' e i      ', ' e r      ', ' e s      ',
       ' eU       ', 'e        ', 'arp', 'icmp', 'ipv6-icmp', 'llc',
       'lldp', 'sctp', 'tcp', 'udp', 'ACC', 'CON', 'ECO', 'FIN', 'INT',
       'NRS', 'REQ', 'RSP', 'RST', 'TST', 'URP', 'Shutdown', 'Start',
       'Status', '39', '4', '52', '54', 'af11', 'af12', 'af41', 'cs0',
       'cs4', 'cs6', 'cs7', 'ef', nan], dtype=object)

In [48]:
feature_labels = np.concatenate(feature_labels).ravel()

In [49]:
print(feature_labels)

[' *        ' ' *    V   ' ' *    f   ' ' e        ' ' e    f   '
 ' e &      ' ' e *      ' ' e d      ' ' e g      ' ' e i      '
 ' e r      ' ' e s      ' ' eU       ' 'e        ' 'arp' 'icmp'
 'ipv6-icmp' 'llc' 'lldp' 'sctp' 'tcp' 'udp' 'ACC' 'CON' 'ECO' 'FIN' 'INT'
 'NRS' 'REQ' 'RSP' 'RST' 'TST' 'URP' 'Shutdown' 'Start' 'Status' '39' '4'
 '52' '54' 'af11' 'af12' 'af41' 'cs0' 'cs4' 'cs6' 'cs7' 'ef' nan]

In [50]:
pd.DataFrame(feature_array, columns = feature_labels)

,*,* V,* f,e,e f,e &,e *,e d,e g,e i,...,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef,NaN
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215886,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215887,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1215888,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215889,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [51]:
features = pd.DataFrame(feature_array, columns = feature_labels)

In [52]:
print(features)

          *           *    V      *    f      e           e    f     \
0               0.0         0.0         0.0         1.0         0.0
1               0.0         0.0         0.0         1.0         0.0
2               0.0         0.0         0.0         1.0         0.0
3               0.0         0.0         0.0         1.0         0.0
4               0.0         0.0         0.0         1.0         0.0
...             ...         ...         ...         ...         ...
1215885         1.0         0.0         0.0         0.0         0.0
1215886         1.0         0.0         0.0         0.0         0.0
1215887         0.0         0.0         0.0         1.0         0.0
1215888         1.0         0.0         0.0         0.0         0.0
1215889         1.0         0.0         0.0         0.0         0.0

          e &         e *         e d         e g         e i        ...   54  \
0               0.0         0.0         0.0         0.0         0.0  ...  0.0
1               0.0         0.0         0.0         0.0         0.0  ...  0.0
2               0.0         0.0         0.0         0.0         0.0  ...  0.0
3               0.0         0.0         0.0         0.0         0.0  ...  0.0
4               0.0         0.0         0.0         0.0         0.0  ...  0.0
...             ...         ...         ...         ...         ...  ...  ...
1215885         0.0         0.0         0.0         0.0         0.0  ...  0.0
1215886         0.0         0.0         0.0         0.0         0.0  ...  0.0
1215887         0.0         0.0         0.0         0.0         0.0  ...  0.0
1215888         0.0         0.0         0.0         0.0         0.0  ...  0.0
1215889         0.0         0.0         0.0         0.0         0.0  ...  0.0

         af11  af12  af41  cs0  cs4  cs6  cs7   ef  NaN
0         0.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
1         0.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
2         0.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
3         0.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
4         0.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
...       ...   ...   ...  ...  ...  ...  ...  ...  ...
1215885   0.0   0.0   0.0  0.0  0.0  0.0  0.0  1.0  0.0
1215886   0.0   0.0   0.0  0.0  0.0  0.0  0.0  1.0  0.0
1215887   0.0   0.0   0.0  1.0  0.0  0.0  0.0  0.0  0.0
1215888   0.0   0.0   0.0  0.0  0.0  0.0  0.0  1.0  0.0
1215889   0.0   0.0   0.0  0.0  0.0  0.0  0.0  1.0  0.0

[1215890 rows x 49 columns]

In [53]:
features.head()

,*,* V,* f,e,e f,e &,e *,e d,e g,e i,...,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef,NaN
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [54]:
pd.concat([dataset, features], axis=1)

,Flgs,Seq,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,...,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef,NaN
0,e,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,e,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,e,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,e,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,e,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,*,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215886,*,3,0.235607,0.235607,0.235607,0.235607,0.235607,0.235607,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215887,e,764,0.099927,0.099927,0.099927,0.099927,0.099927,0.099927,tcp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1215888,*,3,1.307852,1.307852,1.307852,1.307852,1.307852,1.307852,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215889,*,1,0.476803,0.476803,0.476803,0.476803,0.476803,0.476803,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [55]:
data_new = pd.concat([dataset, features], axis=1)
data_new

,Flgs,Seq,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,...,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef,NaN
0,e,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,e,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,e,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,e,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,e,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,*,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215886,*,3,0.235607,0.235607,0.235607,0.235607,0.235607,0.235607,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215887,e,764,0.099927,0.099927,0.099927,0.099927,0.099927,0.099927,tcp,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1215888,*,3,1.307852,1.307852,1.307852,1.307852,1.307852,1.307852,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215889,*,1,0.476803,0.476803,0.476803,0.476803,0.476803,0.476803,sctp,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [56]:
data_new = data_new.drop(columns=['Flgs','Proto','State','sDSb','Cause'])
data_new.columns

Index([        'Seq',         'Dur',     'RunTime',        'Mean',
               'Sum',         'Min',         'Max',        'sTos',
              'dTos',        'sTtl',        'dTtl',       'sHops',
             'dHops',     'TotPkts',     'SrcPkts',     'DstPkts',
          'TotBytes',    'SrcBytes',    'DstBytes',      'Offset',
        'sMeanPktSz',  'dMeanPktSz',        'Load',     'SrcLoad',
           'DstLoad',        'Loss',     'SrcLoss',     'DstLoss',
             'pLoss',      'SrcGap',      'DstGap',        'Rate',
           'SrcRate',     'DstRate',      'SrcWin',      'DstWin',
              'sVid',        'dVid',  'SrcTCPBase',  'DstTCPBase',
            'TcpRtt',      'SynAck',      'AckDat',       'Label',
       'Attack Type', 'Attack Tool',  ' *        ',  ' *    V   ',
        ' *    f   ',  ' e        ',  ' e    f   ',  ' e &      ',
        ' e *      ',  ' e d      ',  ' e g      ',  ' e i      ',
        ' e r      ',  ' e s      ',  ' eU       ',   'e        ',
               'arp',        'icmp',   'ipv6-icmp',         'llc',
              'lldp',        'sctp',         'tcp',         'udp',
               'ACC',         'CON',         'ECO',         'FIN',
               'INT',         'NRS',         'REQ',         'RSP',
               'RST',         'TST',         'URP',    'Shutdown',
             'Start',      'Status',          '39',           '4',
                '52',          '54',        'af11',        'af12',
              'af41',         'cs0',         'cs4',         'cs6',
               'cs7',          'ef',           nan],
      dtype='object')

In [57]:
data_new

,Seq,Dur,RunTime,Mean,Sum,Min,Max,sTos,dTos,sTtl,...,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef,NaN
0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,58.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,58.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,0.0,0.0,117.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,0.0,0.0,117.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,0.0,0.0,117.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,186.0,186.0,252.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215886,3,0.235607,0.235607,0.235607,0.235607,0.235607,0.235607,186.0,40.0,255.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215887,764,0.099927,0.099927,0.099927,0.099927,0.099927,0.099927,0.0,0.0,64.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1215888,3,1.307852,1.307852,1.307852,1.307852,1.307852,1.307852,186.0,40.0,255.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215889,1,0.476803,0.476803,0.476803,0.476803,0.476803,0.476803,186.0,186.0,252.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [58]:
data_new.to_csv("/Users/sehan/Documents/Data_Collection-26-08/encoded1.csv", header=data_new.columns)

In [59]:
dataread = pd.read_csv(r'/Users/sehan/Documents/Data_Collection-26-08/encoded1.csv')

In [60]:
display(dataread)

,Unnamed: 0,Seq,Dur,RunTime,Mean,Sum,Min,Max,sTos,dTos,...,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef,nan
0,0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215885,1215885,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,186.0,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215886,1215886,3,0.235607,0.235607,0.235607,0.235607,0.235607,0.235607,186.0,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215887,1215887,764,0.099927,0.099927,0.099927,0.099927,0.099927,0.099927,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1215888,1215888,3,1.307852,1.307852,1.307852,1.307852,1.307852,1.307852,186.0,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1215889,1215889,1,0.476803,0.476803,0.476803,0.476803,0.476803,0.476803,186.0,186.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0