In [102]:
import pandas as pd
import numpy as np

In [103]:
dataset = pd.read_csv(r'/Users/sehan/Documents/Attacks_argus/all_attacks3.csv')

In [104]:
dataset.head()

,sTtl,dTtl,TotPkts,SrcPkts,TotBytes,SrcBytes,Offset,sMeanPktSz,Label,Attack type
0,58.0,NaN,1.0,1.0,102.0,102.0,128,102.0,0,1
1,64.0,NaN,1.0,1.0,102.0,102.0,208,102.0,0,1
2,58.0,NaN,1.0,1.0,102.0,102.0,288,102.0,0,1
3,58.0,NaN,1.0,1.0,102.0,102.0,368,102.0,0,1
4,58.0,NaN,1.0,1.0,102.0,102.0,448,102.0,0,1

In [105]:
dataset.drop(columns=['Attack type'])

,sTtl,dTtl,TotPkts,SrcPkts,TotBytes,SrcBytes,Offset,sMeanPktSz,Label
0,58.0,NaN,1.0,1.0,102.0,102.0,128,102.0,0
1,64.0,NaN,1.0,1.0,102.0,102.0,208,102.0,0
2,58.0,NaN,1.0,1.0,102.0,102.0,288,102.0,0
3,58.0,NaN,1.0,1.0,102.0,102.0,368,102.0,0
4,58.0,NaN,1.0,1.0,102.0,102.0,448,102.0,0
...,...,...,...,...,...,...,...,...,...
261438,64.0,NaN,2.0,2.0,2784.0,2784.0,4794696,1392.0,0
261439,64.0,NaN,1.0,1.0,74.0,74.0,4794784,74.0,0
261440,64.0,NaN,1.0,1.0,74.0,74.0,4794880,74.0,0
261441,64.0,NaN,1.0,1.0,74.0,74.0,4794976,74.0,0
261442,64.0,NaN,1.0,1.0,74.0,74.0,4795072,74.0,0

In [106]:
dataset.fillna(dataset.mean())

,sTtl,dTtl,TotPkts,SrcPkts,TotBytes,SrcBytes,Offset,sMeanPktSz,Label,Attack type
0,58.0,59.651953,1.0,1.0,102.0,102.0,128,102.0,0,1
1,64.0,59.651953,1.0,1.0,102.0,102.0,208,102.0,0,1
2,58.0,59.651953,1.0,1.0,102.0,102.0,288,102.0,0,1
3,58.0,59.651953,1.0,1.0,102.0,102.0,368,102.0,0,1
4,58.0,59.651953,1.0,1.0,102.0,102.0,448,102.0,0,1
...,...,...,...,...,...,...,...,...,...,...
261438,64.0,59.651953,2.0,2.0,2784.0,2784.0,4794696,1392.0,0,11
261439,64.0,59.651953,1.0,1.0,74.0,74.0,4794784,74.0,0,11
261440,64.0,59.651953,1.0,1.0,74.0,74.0,4794880,74.0,0,11
261441,64.0,59.651953,1.0,1.0,74.0,74.0,4794976,74.0,0,11
261442,64.0,59.651953,1.0,1.0,74.0,74.0,4795072,74.0,0,11

In [107]:
X = dataset.iloc[:,0:7].values
y = dataset.iloc[:,8].values

In [108]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

In [109]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [100]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=20,random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [55]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))
#print(accuracy_score(y_test, y_pred))

[[  814     0]
 [   16 56377]]
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       814
           1       1.00      1.00      1.00     56393

    accuracy                           1.00     57207
   macro avg       0.99      1.00      1.00     57207
weighted avg       1.00      1.00      1.00     57207